#Preprocessing Graduate Admission

##Membaca Dataset
Memuat dataset ke dalam lingkungan kerja untuk diperiksa.

In [19]:
import pandas as pd

# Membaca dataset
file_path = "/content/Admission_Predict_Ver1.1.csv"
df = pd.read_csv(file_path)

##Eksplorasi Data Awal
Melihat struktur data, informasi umum, dan nilai-nilai yang hilang.

In [21]:
# Menampilkan beberapa baris pertama dari dataset
df_head = df.head()
df_head

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [22]:
# Menampilkan informasi umum tentang dataset
df_info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

##Penanganan Missing Values
Mengisi atau menghapus nilai-nilai yang hilang.

In [23]:
# Menampilkan statistik deskriptif dataset
df_describe = df.describe()

In [24]:
df_info, df_head, df_describe

(None,
    Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
 0           1        337          118                  4  4.5   4.5  9.65
 1           2        324          107                  4  4.0   4.5  8.87
 2           3        316          104                  3  3.0   3.5  8.00
 3           4        322          110                  3  3.5   2.5  8.67
 4           5        314          103                  2  2.0   3.0  8.21

    Research  Chance of Admit
 0         1              0.92
 1         1              0.76
 2         1              0.72
 3         1              0.80
 4         0              0.65  ,
        Serial No.   GRE Score  TOEFL Score  University Rating         SOP  \
 count  500.000000  500.000000   500.000000         500.000000  500.000000
 mean   250.500000  316.472000   107.192000           3.114000    3.374000
 std    144.481833   11.295148     6.081868           1.143512    0.991004
 min      1.000000  290.000000    92.000000           1.000000    1.000000
 25%    125.750000  308.000000   103.000000           2.000000    2.500000
 50%    250.500000  317.000000   107.000000           3.000000    3.500000
 75%    375.250000  325.000000   112.000000           4.000000    4.000000
 max    500.000000  340.000000   120.000000           5.000000    5.000000

             LOR         CGPA    Research  Chance of Admit
 count  500.00000  500.000000  500.000000         500.00000
 mean     3.48400    8.576440    0.560000           0.72174
 std      0.92545    0.604813    0.496884           0.14114
 min      1.00000    6.800000    0.000000           0.34000
 25%      3.00000    8.127500    0.000000           0.63000
 50%      3.50000    8.560000    1.000000           0.72000
 75%      4.00000    9.040000    1.000000           0.82000
 max      5.00000    9.920000    1.000000           0.97000  )

##Pembersihan Data
Menangani data duplikat atau anomali.

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# Menghapus kolom yang tidak relevan
data_cleaned = df.drop(columns=["Serial No."])

##Transformasi Data
Normalisasi, encoding variabel kategorikal, atau membuat fitur baru jika diperlukan.

In [27]:
# Memisahkan fitur dan target
X = data_cleaned.drop(columns=["Chance of Admit "])
y = data_cleaned["Chance of Admit "]

##Seleksi Fitur
Memilih fitur yang relevan untuk model.

In [28]:
# Normalisasi data numerik
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

##Pembagian Dataset
Membagi dataset menjadi set pelatihan, validasi, dan pengujian.

In [29]:
# Membagi dataset menjadi pelatihan dan pengujian
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [30]:
# Menampilkan informasi hasil preprocessing
X_train[:5], y_train[:5]

(array([[0.62      , 0.67857143, 0.5       , 0.625     , 0.75      ,
         0.65064103, 1.        ],
        [0.52      , 0.67857143, 0.75      , 0.75      , 1.        ,
         0.55769231, 0.        ],
        [0.26      , 0.35714286, 0.5       , 0.625     , 0.5       ,
         0.54487179, 0.        ],
        [0.48      , 0.53571429, 0.25      , 0.375     , 0.75      ,
         0.47115385, 0.        ],
        [0.36      , 0.5       , 0.5       , 0.625     , 0.375     ,
         0.45192308, 1.        ]]),
 249    0.77
 433    0.71
 19     0.62
 322    0.72
 332    0.75
 Name: Chance of Admit , dtype: float64)